################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/LosTorresFerreterosSAS/LosTorresFerreterosSAS/Web.config
/LosTorresFerreterosSAS/.vs/LosTorresFerreterosSAS/FileContentIndex
/.vs/Ferreteros/v17
